.button{
	-fx-background-color: linear-gradient(to bottom, #ff7f50, #b30000); 
	-fx-text-fill: white;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.label{
	-fx-text-fill: black;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.title{
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );	
}

.combobox{
	-fx-background-color: darkred; -fx-text-fill: white;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.text-field{
    -fx-background-color: white;
	-fx-text-fill: black;
}
.text-field:focused {
	-fx-background-color: darkred;
	-fx-text-fill: black;
}

.borderpane{
	-fx-background-color: linear-gradient(to bottom, #ff7f50, #cc0000);
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: DARKRED;
}

.tab-pane .tab:selected
{
    -fx-background-color: BLACK;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: WHITE;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: WHITE;
}

.dialog-pane {
    -fx-background-color: black;
}

.dialog-pane .label {
    -fx-text-fill: white;
}

.dialog-pane:header .header-panel {
    -fx-background-color: black;
}

.dialog-pane:header .header-panel .label {
	-fx-text-fill: white;    
    -fx-font-size: 2em;
}